@use '../styles/variables' as *;
@use 'sass:color';

.button {
  background-color: $accent-color;
  color: $primary-bg;
  border: none;
  border-radius: $border-radius-sm;
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all $transition-speed;
  font-family: $font-family;

  &:hover {
    background-color: $button-hover;
  }

  &.sm {
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &.main {
    width: 100%;
    margin-top: 20px;
  }

  &.delete {
    background-color: $error-color;
    color: $text-primary;

    &:hover {
      background-color: color.adjust($error-color, $lightness: -15%);
    }
  }

  &.link {
    background-color: transparent;  
    border: none;
    border-radius: 0;
    padding: 0;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    &.error {
      color: $error-color;
      
      &:hover {
        border-color: $error-color;
      }
    }

    
  }
}