// global.scss
@use './variables' as *;
@use './mixins' as *;
@use './buttons' as *;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-bg;
  color: $text-primary;
  font-family: $font-family;
}